# Default values for elasticsearch2.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

storage:
  accessModes: [ "ReadWriteOnce" ]
  capacity: 1Gi

image:
  repository: elasticsearch
  tag: 2.4.6
  pullPolicy: IfNotPresent

# Whether we should create an ingress rule for the elastichq dashboard
ingress:
  enabled: false
  host: "elasticsearch.localhost"

# Drop-in values for elasticsearch.yml config file:
elasticsearch:
  config:
    cluster.name: "clowder"
    #discovery.zen.minimum_master_nodes: 2 # ${NODE_QUORUM}


resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  #limits:
  #  cpu: 750m
  #  memory: 512Mi
  #requests:
  #  cpu: 250m
  #  memory: 256Mi

nodeSelector: {}

tolerations: []

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: "component"
              operator: In
              values:
              - elasticsearch
        topologyKey: "kubernetes.io/hostname"
