name: Update GeoServer Version

on:
  push:
    paths:
      - "charts/geoserver/**"
  schedule:
    # Run every Sunday at 2:10 AM UTC
    - cron: "10 2 * * 0"
  workflow_dispatch:

jobs:
  update:
    uses: ./.github/workflows/update-chart-version.yml
    with:
      chart_folder: geoserver
      chart_name: GeoServer
      docker_tags_url: https://repo.osgeo.org/repository/geoserver-docker/v2/geoserver/tags/list
      docker_image: docker.osgeo.org/geoserver
      chart_label: geoserver
      assignee: ywkim312
