name: Update Uptime Kuma Version

on:
  push:
    paths:
      - "charts/uptime-kuma/**"
  schedule:
    # Run every Sunday at 2:30 AM UTC
    - cron: "30 2 * * 0"
  workflow_dispatch:

jobs:
  update:
    uses: ./.github/workflows/update-chart-version.yml
    with:
      chart_folder: uptime-kuma
      chart_name: Uptime Kuma
      docker_tags_url: https://hub.docker.com/v2/repositories/louislam/uptime-kuma/tags?page_size=100
      docker_image: louislam/uptime-kuma
      chart_label: uptime-kuma
      assignee: robkooper
